<!-- header.html -->
<div class="header-container">

    <header>
        <nav>
            <div class="logo">
                <a href="https://github.com/sc0210/3311_Lab6_student.git">
                    <img src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" alt="GitHub"
                        width="30" height="30">
                </a>
                <a href="https://lms2020.nchu.edu.tw/index/login?next=%2Fdashboard">
                    <img src="https://www.nchu.edu.tw/logo/NCHU_Badge.png" alt="ilearing"
                        width="30" height="30">
                </a>
            </div>
            <ul class="navigation">
                <li><a href="/">Home</a></li>
                <li><a href="/visualize-realtime">Lab6</a></li>
                <li><a href="/visualize-camera_view">Lab7</a></li>
                <li><a href="http://awin.cs.nchu.edu.tw/">About</a></li>
                <li><a href="https://www.cwa.gov.tw/V8/C/">Central Weather</a></li>
                <li><a href="https://github.com/dhrubasaha08/DHT11">DHT11</a></li>
                <!-- Add more navigation links as needed -->
            </ul>
        </nav>
    </header>

</div>